<div class="side-bar-header">
  <a class="header-name" href="#">Tom</a>
  <a class="create-room" href="#">チャットを作成する</a>
</div>

<div class="rooms">
  <div class="room">
    <a class="room-name" href="#">techroom1</a>
  </div>
  <div class="room">
    <a class="room-name" href="#">techroom2</a>
  </div>

</div>