<div class="side-bar-header">
  <div class="header-name"> 
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <a class="create-room" href="#">チャットを作成する</a>
</div>

<div class="rooms">
  <div class="room">
    <a class="room-name" href="#">techroom1</a>
  </div>
  <div class="room">
    <a class="room-name" href="#">techroom2</a>
  </div>

</div>